<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>실습 결과 페이지</title>
  </head>
  <body>
    <!-- 
   userInfo= {
  name: 'd',
  gender: '여자',
  year: '1980',
  month: '1',
  date: '1',
  favorite: [ '패션', '음식' ]
}
    -->
    <h1>실습문제 응답 페이지</h1>
    <h3><%= userInfo.name%>님 환영합니다</h3>
    <ul>
      <li>성별:<%= userInfo.gender%></li>
      <li>
        생년월일:<%= userInfo.year%>/<%= userInfo.month%>/<%= userInfo.date%>
      </li>
      <li>관심사: <%= userInfo.favorite%></li>
    </ul>
  </body>
</html>
