<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>회원가입 결과</title>
    <link rel="stylesheet" href="../static/mypage.css" />
    <style>
      .profile-img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: 5px solid #ddd;
        box-shadow: 0 0 10px #aaa;
      }
    </style>
  </head>
  <body>
    <div class="card">
      <h1><%= name %>님의 프로필</h1>
      <img src="<%= profileImage %>" alt="Profile Image" />
      <p>아이디: <span><%= id %></span></p>
      <p>비밀번호: <span><%= password %></span></p>
      <p>나이: <span><%= age %></span></p>
    </div>
  </body>
</html>
